*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

#container{
    position:relative;
    width:100%;
}

/*TITLE*/

#title{
    top: 0;
    transition: height 2s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: 15vh;
    position: fixed;
    color: rgb(252, 252, 252);
    z-index: 20;
    background-color: #234d78;
}

#title.shrink{
    width: 100%;
    position: fixed;
    font-size: 20px;
    height: 40px;
    z-index: 20;
}

#titleText{
    font-weight: 100;
    opacity: 0.9;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    transition: transform 2s;
}

#titleText.shrink{
    opacity: 0.9;
    transform: scale(0.5,0.5) translate(-1200px,-40px);
    transition: transform 1s;
}

/*MAP*/
#map{
    z-index: 1;
    position: relative;
    margin-left: 5%;
    margin-top: 15vh;
    height: 50vh;
    width: 90%;
}

/*TREE*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 55;
    top: 0;
    left: 0;
    background-color: #234d78;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav li:hover {
    color: #2c2c2c;
    cursor: pointer;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2c2c2c;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

ul {
    list-style-type: none;
}

#tree {
    margin: 0;
    padding: 0;
}

/*GRAPH*/
#plot{
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
}

#close_all{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: 85%;
    text-align: center;
    color: #020202;
    border: solid 2px;
    line-height: 35px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
    position: relative;
}

#graph{
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
}

.graphic{
    border-top: white solid 1px;
    z-index: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    margin-top: 20px;
    transition-duration: 2s;
}

.button{
    color: #020202;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
    position: relative;
}

.div_button{
    background-color: #234d78;
}

.div_button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#close_all:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h2{
    color: #234d78;
    font-size: 25px;
    position: relative;
}

.graphic a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.5s;
}

/*****************************************************/
.bullet {
    font: 10px sans-serif;
}

.bullet .marker {
    stroke: #080b10;
    stroke-width: 2px;
}

.bullet .tick line {
    stroke: #666;
    stroke-width: .1px;
}

.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: lightsteelblue;
}

.bullet .measure.s1 {
    fill: #286585;
}

.bullet .title {
    font-size: 14px;
    font-weight: bold;
}

.bullet .subtitle {
    fill: #999;
}


/****************************************************************************************************************/
/***********************************************************   MEDIA    *****************************************/
/****************************************************************************************************************/

@media(max-width: 1024px){

    #title{
        height: 10vh;
    }

    #title.shrink{
        font-size: 30px;
        height: 5vh;
    }

    #titleText{
        line-height: 10vh;
        font-size: 60px;
    }

    #titleText.shrink{
        transform: scale(0.5,0.5) translate(-75%,-50%);
    }

    .sidenav li {
        padding: 8px 8px 8px 50px;
        margin-top: 90px;
        margin-left: 30px;
        font-size: 70px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 100px;
        margin-left: 100px;
    }

    #plot{
        margin-top: 70px;
    }

    #close_all{
        width: 250px;
        height: 60px;
        margin-top: 50px;
        margin-left: 40%;
        text-align: center;
        line-height: 60px;
        font-size: 50px;
    }

    #graph .closebtn1{
        font-size: 60px;
    }

}

@media(orientation: landscape) and (max-width:1100px){

    #title{
        height: 10vh;
    }

    #titleText{
        line-height: 10vh;
        font-size: 30px;
    }

    .sidenav li {
        padding: 8px 8px 8px 50px;
        margin-top: 20px;
        margin-left: 30px;
        font-size: 40px;
    }

    .sidenav .closebtn {
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }

    #plot{
        margin-top: 0;
    }

    #close_all{
        width: 100px;
        height: 40px;
        margin-top: 5px;
        margin-left: 80%;
        line-height: 40px;
        font-size: 20px;
    }

    #graph .closebtn1{
        font-size: 40px;
    }

}