body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    padding-top: 40px;
    position: relative;
    background-color: #f7efff;
}

h1{
    font-size: 100px;
    color: rgb(4, 4, 4);
    text-align: center;
}


#map{
    height: 400px;
    width: 100%;
}

.text{
    margin-top: -20px;

    text-align:center;
    color: rgb(4, 4, 4);
}

#plot{

    text-align: center;
    width: auto;
    height: auto;
}

#Ares{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

#Mars{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

#Star{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

h2{
    text-align: left;
    font-size: 100px;
    color: white;
}

.bullet {

    /*margin-left: 150px;*/
    font: 10px sans-serif;
}

.bullet .marker {
    stroke: #080b10;
    stroke-width: 2px;
}

.bullet .tick line {
    stroke: #666;
    stroke-width: .1px;
}

.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: lightsteelblue;
}

.bullet .measure.s1 {
    fill: steelblue;
}

.bullet .title {
    font-size: 14px;
    font-weight: bold;
}

.bullet .subtitle {
    fill: #999;
}
