body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 40px;
    background-color: #f7efff;
}

#container{
    position:relative;
    width:100%;
}

#title{
    margin-top: -48px;
    width: 100%;
    height: 100px;
    position: fixed;
    font-size: 50px;
    color: rgb(4, 4, 4);
    text-align: center;
    z-index: 20;
    background-color: silver;
}



#map{
    position: relative;
    margin-top: -404px;
    height: 400px;
    width: 50%;
}

img{
    margin-top: 100px;
    position: relative;
    margin-left: 50%;
    height: 400px;
    width: 50%;
}

.text{
    position: relative;
    margin-top: -20px;
    text-align:center;
    color: rgb(4, 4, 4);
}

#plot{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
}

#Ares{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

#Mars{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

#Star{
    text-align: center;
    margin-top: -50px;
    background-color: rgba(172, 183, 255, 0.82);
}

h2{
    text-align: left;
    font-size: 80px;
    color: white;
}

button{
    position: relative;
    margin-left: 70px;
    padding: 10px 32px;
    cursor:pointer;
}


/**********************************************************/

.bullet {
    font: 10px sans-serif;
}

.bullet .marker {
    stroke: #080b10;
    stroke-width: 2px;
}

.bullet .tick line {
    stroke: #666;
    stroke-width: .1px;
}

.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: lightsteelblue;
}

.bullet .measure.s1 {
    fill: steelblue;
}

.bullet .title {
    font-size: 14px;
    font-weight: bold;
}

.bullet .subtitle {
    fill: #999;
}

